# Custom SEO Configurations for {{item.value.url}}
# After configuring your specific rewrites and rules, please remember to run
# nginx -t
# to check if your configuration is valid.
# After being sure that your config will not break anything, restart nginx with
# sudo systemctl restart nginx