include /etc/nginx/conf.d/map_custom;

server {
	listen {{ fe_server }}:{{ fe_port }};
	server_name "~(www\.|origin\.|stage\.)?{{item.value.url}}" {{item.value.url}};
	set $MAGE_ROOT /var/www/{{ site_path }}/htdocs;
	set $MAGE_RUN_CODE {{ item.value.code }};
    set $MAGE_RUN_TYPE website;
	access_log /var/www/{{ site_path }}/logs/{{item.value.url}}_access.log;
	error_log /var/www/{{ site_path }}/logs/{{item.value.url}}_error.log;

    root $MAGE_ROOT/pub;

    index index.php;
    autoindex off;
    charset UTF-8;  

	add_header Access-Control-Allow-Origin "*";

    include /etc/nginx/conf.d/main_custom;
	include /etc/nginx/conf.d/block_drill;
	include /etc/nginx/conf.d/block_location;
	include /etc/nginx/conf.d/block_robots;

	location ~ /.well-known {
		auth_basic "off";
		root /etc/nginx/ssl/le;
    }

##sitemap.xml
	location ^~ /it/sitemaps { 
	        alias $MAGE_ROOT/sitemaps;
	        allow all;
	}

	location ^~ /en/sitemaps { 
	        alias $MAGE_ROOT/sitemaps;
	        allow all;
	}

	location ^~ /fr/sitemaps { 
	        alias $MAGE_ROOT/sitemaps;
	        allow all;
	}

	location ^~ /de/sitemaps { 
	        alias $MAGE_ROOT/sitemaps;
	        allow all;
	}

	location ^~ /es/sitemaps { 
	        alias $MAGE_ROOT/sitemaps;
	        allow all;
	}


	location /api {
        rewrite ^/api/rest /api.php?type=rest last;
        rewrite ^/api/v2_soap /api.php?type=v2_soap last;
        rewrite ^/api/soap /api.php?type=soap last;
        rewrite ^/api/xmlrpc /api.php?type=xmlrpc last;
        fastcgi_pass unix:/run/php/www.acquistaincantina.it.sock;
        fastcgi_param  SCRIPT_FILENAME  $document_root/api.php;
        include fastcgi_params;
        access_log /var/www/{{ site_path }}/logs/{{item.value.url}}_api-access.log;
        error_log /var/www/{{ site_path }}/logs/{{item.value.url}}_api-error.log;
    }

	location /it {
    	root $MAGE_ROOT/it;
		try_files $uri $uri/ /it/index.php?$args;
    }

    location /en {
        root $MAGE_ROOT/en;
        try_files $uri $uri/ /en/index.php?$args;
    }

    location /fr {
        root $MAGE_ROOT/fr;
        try_files $uri $uri/ /fr/index.php?$args;
    }

    location /de {
        root $MAGE_ROOT/de;
        try_files $uri $uri/ /de/index.php?$args;
    }

    location /es {
        root $MAGE_ROOT/es;
        try_files $uri $uri/ /es/index.php?$args;
    }


    location ~ ^/(setup|update) {
        root $MAGE_ROOT;

        location ~* \.(jpg|jpeg|png|gif|svg|js|css|ico|txt|swf|eot|ttf|otf|woff|woff2)$ {
        expires off;
        log_not_found off;
        access_log off;
        add_header ETag "";
        add_header Access-Control-Allow-Origin "*";
        add_header Cache-Control "public";
		include /etc/nginx/magento2-cors.conf;
        }

        location ~ ^/(setup|update)/index.php {
                fastcgi_split_path_info ^(.+?\.php)(/.*)$;
                fastcgi_pass unix:/run/php/{{ site_path }}.sock;
                fastcgi_index  index.php;
                fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
                include        fastcgi_params;
        }

        location ~ ^/(setup|update)/(?!pub/). {
            deny all;
        }
    }

    location / {
    	try_files $uri $uri/ /index.php$is_args$args;
        include /etc/nginx/conf.d/root_custom; 
    }
   
    rewrite ^/static/(version\d*/)?(.*)$ /static/$2 last;

    location ~ ^/static/(version\d*/)?(.*)$ {

        location ~* \.(jpg|jpeg|png|gif|svg|js|css|ico|txt)$ {
            expires max;
            log_not_found off;
            access_log off;
            add_header ETag "";
            add_header Access-Control-Allow-Origin "*";
            add_header Cache-Control "public";
            try_files $uri $uri/ @static;
        }

        location ~* \.(swf|eot|ttf|otf|woff|woff2)$ {
            expires max;
            log_not_found off;
            access_log off;
            add_header ETag "";
            add_header Access-Control-Allow-Origin "*";
            add_header Cache-Control "public";
            try_files $uri $uri/ @static;
        }

	    include /etc/nginx/magento2-cors.conf;
        try_files $uri $uri/ @static;
    }


    location /media/ {

        location ~* \.(jpg|jpeg|png|gif|svg|js|css|ico|txt)$ {
            expires max;
            log_not_found off;
            access_log off;
            add_header ETag "";
            add_header Access-Control-Allow-Origin "*";
            add_header Cache-Control "public";
            try_files $uri $uri/ @media;
        }

        location ~* \.(swf|eot|ttf|otf|woff|woff2)$ {
            expires max;
            log_not_found off;
            access_log off;
            add_header ETag "";
            add_header Access-Control-Allow-Origin "*";
            add_header Cache-Control "public";
            try_files $uri $uri/ @media;
        }

        try_files $uri $uri/ @media;
    }
    
    location @static { rewrite /static/(version\d*/)?(.*)$ /static.php?resource=$2 last; }
    location @media { try_files $uri $uri/ /get.php$is_args$args; }

    location ~ (index|infoo|7p_magento|get|health_check|static|report|autocomplete|check|tnd|404|503)\.php$ {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+.php)(.*)$;
        fastcgi_pass unix:/run/php/{{ site_path }}.sock;

        fastcgi_param  MAGE_RUN_CODE $MAGE_RUN_CODE;
        fastcgi_param  MAGE_RUN_TYPE $MAGE_RUN_TYPE;

        fastcgi_param  PHP_FLAG  "session.auto_start=off \n suhosin.session.cryptua=off";
        fastcgi_param  HTTPS on;

        fastcgi_index  index.php;
        fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
        include        fastcgi_params;
        include /etc/nginx/conf.d/php_custom;
    }

    location ~* \.php$ { return 404; }

# configure robots inside /etc/nginx/conf.d/block_robots.conf
#    location = /robots.txt {
#        allow all;
#        log_not_found off;
#        access_log off;
#    }

    add_header X_Powered_By "neen";

}